{% load i18n %}
{% autoescape off %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>

<p>{% trans "Your email (used for login) is:" %} {{ user.get_username }}</p> {# Changed from user.get_username to user.email if using email as username #}
{# If your CustomUser model's USERNAME_FIELD is 'email', then user.get_username will return the email. #}
{# Or you can directly use: {{ user.email }} #}


<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

{% endautoescape %}
